@import "src/assets/scss/variables";

.contact {
  min-height: calc(100vh - 250px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: 754px;
    width: 100%;
    margin: auto;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;

    &--message {
      color: $accent-color;
    }
  }

  &__subtitle {
    padding-top: 25px;
    font-size: 20px;
    color: $secondary-light-color;
  }

  &__form {
    margin-top: 50px;

    &--inputs {
      margin-top: 15px;
      display: grid;
      gap: 14px;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }

    &--message {
      border-color: $border-color;
      border-radius: 15px;
      outline: none;
      width: 100%;
      height: 200px;
      margin-top: 14px;
    }

    &--submit {
      padding: 15px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $accent-color;
      border-radius: 15px;
      width: 100%;
      margin-top: 40px;
      font-size: 20px;
      font-weight: 600;
      color: $foreground-color;
      cursor: pointer;
      height: 55px;

      img {
        margin-left: 20px;
      }
    }

    &--loading {
      height: 20px;
      width: 20px;
      border: 1px solid $foreground-color;
      border-bottom: none;
      border-top: none;
      border-radius: 100%;
      animation: cssload-spin 700ms infinite linear;
      -o-animation: cssload-spin 700ms infinite linear;
      -ms-animation: cssload-spin 700ms infinite linear;
      -webkit-animation: cssload-spin 700ms infinite linear;
      -moz-animation: cssload-spin 700ms infinite linear;
    }
  }

  &__error-message {
    margin-top: 20px;
    padding: 20px;
    color: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 10px;
    text-align: center;
  }
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}