@import "../../../../assets/scss/variables";

.search-tickets {
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: $secondary-light-color;
  }

  &__inputs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
}
