<section class="login">
  <div class="login__container">
    <h1 class="login__title">
      Welcome back!
    </h1>
    <p class="login__subtitle">
    <span>
       Don’t have an account?
    </span>
      <a class="login__subtitle--link" [routerLink]="signUpUrl">Sign up.</a>
    </p>

    <form class="login__form">
      <div  class="login__form--input" >
        <app-form-input label="Email address"></app-form-input>
      </div>
      <div class="login__form--input" >
        <app-form-input label="Password"></app-form-input>
      </div>
      <div class="login__form--remember-me">
        <fieldset>
          <input class="login__form--checkbox" type="checkbox">
          <span>Remember me</span>
        </fieldset>
      </div>

      <button class="login__form--submit" type="submit">Log in</button>
    </form>
  </div>
</section>
